In [ ]:
# Python Language

## Python Math

## Python Math library has many built-in functions

## The following code explores all the built-in math functions in python .

In [38]:
# Take outs

## Abs(),Max(),Min(),Pow(),functions are evaluated without importing math
## Max(),Min(),Pow() are valid with list of numbers
## Abs() is invalid with list of numbers
## parameters
## acosh > =1
## asin() = -1 to 1 
## atanh() = -0.99 to 0.99

In [ ]:
## Max() 
## Min()
## Abs()

In [10]:
numbers = [12,45,78,96,1001]
absolute = -999
print("The maximum value is\n",max(numbers))
print("\n")
print("The minimum value is\n",min(numbers))
print("\n")
print("The absolute value is\n",abs(absolute))

The maximum value is
 1001


The minimum value is
 12


The absolute value is
 999

In [ ]:
## Pow : power function

In [11]:
a = pow(34,2)

print("34 raise to power 2 =",a)

34 raise to power 2 = 1156

In [15]:
b = [1,2,3,4,5,6,7,8,9,10]
print("Squares \n")
for i in b:
    print(pow(i,2))

Squares

1
4
9
16
25
36
49
64
81
100

In [16]:
# import math

In [2]:
import math

# acos() returns the arc cosine of a number

numbers = [0,1,0.9,0.8]
for i in numbers:
    print("number = "+ str(i) + " , "+ "Arc cosine value = "+ " "+ str(math.acos(i)))

number = 0 , Arc cosine value =  1.5707963267948966
number = 1 , Arc cosine value =  0.0
number = 0.9 , Arc cosine value =  0.45102681179626236
number = 0.8 , Arc cosine value =  0.6435011087932843

In [27]:
# acosh ()
numbers = [10,4,67,900]
for i in numbers:
    print("number = "+ str(i) + " , "+ "Inverse hyperbolic cosine value = "+ " "+ str(math.acosh(i)))

number = 10 , inverse hyperbolic cosine value =  2.993222846126381
number = 4 , inverse hyperbolic cosine value =  2.0634370688955608
number = 67 , inverse hyperbolic cosine value =  4.897784103607189
number = 900 , inverse hyperbolic cosine value =  7.495541635242138

In [30]:
#asine()
numbers = [0,1,0.9,0.8]
for i in numbers:
    print("number = "+ str(i) + " , "+ "Arc sine value = "+ " "+ str(math.asin(i)))

number = 0 , arc sine value =  0.0
number = 1 , arc sine value =  1.5707963267948966
number = 0.9 , arc sine value =  1.1197695149986342
number = 0.8 , arc sine value =  0.9272952180016123

In [31]:
# asinh

numbers = [10,4,67,900]
for i in numbers:
    print("number = "+ str(i) + " , "+ "Inverse hyperbolic sine value = "+ " "+ str(math.asinh(i)))

number = 10 , inverse hyperbolic sine value =  2.99822295029797
number = 4 , inverse hyperbolic sine value =  2.0947125472611012
number = 67 , inverse hyperbolic sine value =  4.89789548698994
number = 900 , inverse hyperbolic sine value =  7.495542252526088

In [32]:
# atan 
numbers = [10,4,67,900]
for i in numbers:
    print("number = "+ str(i) + " , "+ "Tan value = "+ " "+ str(math.atan(i)))

number = 10 , Tan value =  1.4711276743037347
number = 4 , Tan value =  1.3258176636680326
number = 67 , Tan value =  1.5558720618048116
number = 900 , Tan value =  1.5696852161410326

In [35]:
numbers = [10,4,67,900]
for i in numbers:
    print("number = "+ str(i) + " , "+ "Arc tangent value = "+ " "+ str(math.atan2(i,i+1)))

number = 10 , Arc tangent value =  0.7378150601204649
number = 4 , Arc tangent value =  0.6747409422235526
number = 67 , Arc tangent value =  0.7779908914662833
number = 900 , Arc tangent value =  0.7848429163695563

In [37]:
numbers = [0,0.1,0.8,-0.9]
for i in numbers:
    print("number = "+ str(i) + " , "+ "Inverse hyperbolic tan value = "+ " "+ str(math.atanh(i)))

number = 0 , Inverse hyperbolic tan value =  0.0
number = 0.1 , Inverse hyperbolic tan value =  0.1003353477310756
number = 0.8 , Inverse hyperbolic tan value =  1.0986122886681098
number = -0.9 , Inverse hyperbolic tan value =  -1.4722194895832204

In [43]:
ceil = [1.4,4.8,6.9,0.22,9.89]

for i in ceil :
    print("number = "+ str(i) + " , "+ "Ceiling Value =" + " "+str(math.ceil(i)))

number = 1.4 , Ceiling Value = 2
number = 4.8 , Ceiling Value = 5
number = 6.9 , Ceiling Value = 7
number = 0.22 , Ceiling Value = 1
number = 9.89 , Ceiling Value = 10

# comb : number of ways 

print("Number of ways")

# A

In [65]:
print("Acos value", math.acos(0.1))
print("Acosh value ",math.acosh(12))
print("Asin value ",math.asin(0.4))
print("Asinh value ",math.asinh(4))
print("Atan value",math.atan(7))
print("Atan2 value",math.atan2(7,8))
print("Atanh value",math.atanh(0.8))

Acos value 1.4706289056333368
Acosh value  3.176313180591656
Asin value  0.41151684606748806
Asinh value  2.0947125472611012
Atan value 1.4288992721907328
Atan2 value 0.7188299996216245
Atanh value 1.0986122886681098

# C

In [69]:
print("Ceil value",math.ceil(119.7709))
print("Comb value",math.comb(300,56))
print("Copy sign",math.copysign(-100,78))
print("Cos value", math.cos(0.1))
print("Cosh value ",math.cosh(12))

Ceil value 120
Comb value 30601103763379774409244013819107626606875914338242661292306000
Copy sign 100.0
Cos value 0.9950041652780258
Cosh value  81377.39571257407

# D

In [79]:
print("Degress ",math.degrees(math.pi))
 
print("Eculidean distance ",math.dist([50],[6]))

Degress  180.0
Eculidean distance  44.0

# E

In [48]:
print("Error Function",math.erf(90.88))
print("Complement of Error Function",math.erfc(90.88))
print("Exponent power",math.exp(2))
print("Exponent power-1 ",math.expm1(2))
print("Eculer number",math.e)

Error Function 1.0
Complement of Error Function 0.0
Exponent power 7.38905609893065
Exponent power-1  6.38905609893065
Eculer number 2.718281828459045

# F

In [94]:
print("Absolute value",math.fabs(90))
print("Factorial ",math.factorial(10))
print("Floor",math.floor(8.99))
print("Mod value",math.fmod(34,3))
print("Mantissa,exponent",math.frexp(45))
print("List sum ",math.fsum([1,2,3,4]))

Absolute value 90.0
Factorial  3628800
Floor 8
Mod value 1.0
Mantissa,exponent (0.703125, 6)
List sum  10.0

# G

In [9]:
print("Gamma value",math.gamma(10.1))
print("GCD ",math.gcd(500,100))

Gamma value 454760.7514415857
GCD  100

# H

In [10]:
perpendicular = 5
base = 10

print("Hypotenuse",math.hypot(perpendicular,base))

Hypotenuse 11.180339887498949

# I

In [51]:
print("Is close ?",math.isclose(1.2,1.23))
print("Is Finite?",math.isfinite(1000))
print("Is infinite?",math.isinf(199))
print("Is NaN?",math.isnan(math.nan))
print("Square root round up",math.isqrt(999))
print("Positive Infinity ",math.inf)

Is close ? False
Is Finite? True
Is infinite? False
Is NaN? True
Square root round up 31
Positive Infinity  inf

# L

In [28]:
print("ldexp value ",math.ldexp(10,7))
print("Log gamma value ",math.lgamma(10))
print("Log ",math.log(23))
print("Log 10 ",math.log10(203))
print("Log 1 p ",math.log1p(23))
print("Log 2",math.log2(23))

ldexp value  1280.0
Log gamma value  12.801827480081467
Log  3.1354942159291497
Log 10  2.307496037913213
Log 1 p  3.1780538303479458
Log 2 4.523561956057013

# N

In [53]:
print("Not a number",math.nan)

Not a number nan

# P

In [54]:
print("Permutation ",math.perm(56,7))
print("Power ",math.pow(34,6))
print("Product of list ",math.prod([1,2,3]))
print("Pi ",math.pi)

Permutation  1168863696000
Power  1544804416.0
Product of list  6
Pi  3.141592653589793

# R

In [35]:
print("Radian ",math.radians(180))
print("Remainder",math.remainder(999122,3))

Radian  3.141592653589793
Remainder -1.0

# S

In [44]:
print("Sine Value ",math.sin(180))
print("Hyperbolic sine Value ",math.sinh(180))
print("Square root ",math.sqrt(7892))

Sine Value  -0.8011526357338304
Hyperbolic sine Value  7.446921003909191e+77
Square root  88.83692925805124

# T

In [55]:
print("Tan value ", math.tan(1))
print("Hyperbolic tan value ",math.tanh(1))
print("Truncated value",math.trunc(9.11118))
print("Tau ",math.tau)

Tan value  1.5574077246549023
Hyperbolic tan value  0.7615941559557649
Truncated value 9
Tau  6.283185307179586